.ranking {
  padding-bottom: 80px;
  &__title {
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 40px;
  }
  &__option {
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 40px;

    &:first-of-type {
      margin-left: 8px;
      margin-right: 4px;
    }
    &:last-of-type {
      margin-left: 4px;
    }
    &--active {
      text-decoration: underline;
    }
  }
}

@include respond(phone) {
  .ranking {
    & .table__row-views:last-of-type {
      display: none;
    }

    & .course-page__metric {
      height: 60px;
      width: 60px;
      min-height: 60px;
      min-width: 60px;
    }
  }
}
